[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
impacket = "*"
python-slugify = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
